<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCXD8ajyFrKpyDU2PE8cAM0ZmQCrGd_nFg</string>
	<key>GCM_SENDER_ID</key>
	<string>767287776206</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sucris.loryblu</string>
	<key>PROJECT_ID</key>
	<string>loryblu-ecd5d</string>
	<key>STORAGE_BUCKET</key>
	<string>loryblu-ecd5d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:767287776206:ios:335a2e7eb0b175588d919f</string>
</dict>
</plist>